#top {
  text-align: center;
  font-size: 500%;;
  color: #ff8599;
  font-family: Courier;
}

.navtable {
  border-collapse: collapse;
  width: 100%;
}

.navtable td, .navtable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.navtable tr:nth-child(even){background-color: #f2f2f2;}

.navtable tr:hover {background-color: #ddd;}

.navtable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff8599;
    color: white;
}

#headings, #paragraphs, #comments, #links, #images, #lists, #tables, #blocks {
  background-color: #ff8599;
  color: white;
  font-size: 300%;
  padding: 6px;
}

#headingsx, #tablesx, #blocksx, #imgsx, #listsx, #commentsx, #linksx, #paragraphsx {
  background-color: #f2f2f2;
  padding: 6px;
}

#colorx {
  color: #199a8d;
}

table, th, td {
  text-align: left;
  width: 500px;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}

.andpeggy {
  color: white;
  font-family: Courier;
  font-weight: bold;
  font-size: 25px;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/d8/35/87/d83587f001e254318da83993a3b896a7.gif");
  height: 245px;
}
