body {
  margin:0;
  font-family: Verdana;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bebebe;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #ff8599;
}

#top {
  font-family: Courier;
  font-size: 500%;
  text-align: center;
  color: #ff8599;
}

table, th, td {
  text-align: left;
  width: 750px;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}

#season1 {
  font-size: 400%;
  text-align: center;
  background-color: #bebebe;
  color: black;
  padding: 6px;
}

#name1 {
  font-size: 300%;
  text-align: center;
  font-family: Courier;
}

#e1, #e2, #e3 {
  background-color: #ff8599;
  color: white;
  padding: 6px;
}
