body {
  margin:0;
  font-family: Verdana;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bebebe;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #ff8599;
}

#sds {
  color: #ff8599;
  font-size: 400%;
}

#ycsl {
  font-size: 200%;
}

#characters {
  background-color: #ff8599;
  padding: 6px;
  text-align: center;
  color: white;
}
