body {
  margin:0;
  font-family: Verdana;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bebebe;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #ff8599;
}

#home {
  color: #ff8599;
  font-size: 500%;
  font-family: Courier;
  text-align: center;
}

#ycsl {
  font-size: 200%;
  text-align: center;
}

#yaas {
  font-family: Courier;
  font-size: 125%;
  text-align: center;
  color: white;
  height: 400px;
  background-image: url("https://lh3.googleusercontent.com/-olAFUWpAS8c/WfJAC3uEXnI/AAAAAAAAEDM/JFBUuLu_oo4EOBn0SlSxpHZ1qfsBSXyZQCK8BGAs/s512/6132171604772803149%253Faccount_id%253D0");
}
